@layout('layouts.master')

@section('main')

			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h5 class="txt-dark">Pedido</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
								<li><a href="index.html">Panel</a></li>
								<li><a href="#"><span>Ordenes</span></a></li>
								<li class="active"><span>Pedido</span></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">Pedido # 12345</h6>
									</div>
									
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-6">
												<span class="txt-dark head-font inline-block capitalize-font mb-5">Facturado a:</span>
												<address class="mb-15">
													<span class="address-head mb-5">Andres Gaviria.</span>
													Dirrección: calle 24 # 20 <br>
													Bogotá <br>
													<abbr title="Phone">Telefono:</abbr>(313) 111-1111
												</address>
											</div>
											
										</div>
										
										<div class="row">
											<div class="col-xs-6">
												<address>
													<span class="txt-dark head-font capitalize-font mb-5">Fecha de Pedido:</span>
													<br>
													Enero 2020<br>
												</address>
											</div>
										</div>
										
										<div class="seprator-block"></div>
										
										<div class="invoice-bill-table">
											<div class="table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>Codigo</th>
															<th>Nombre Producto</th>
															<th>Cantidad</th>
															<th>Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>BS-200</td>
															<td>Jabon</td>
															<td>1</td>
															<td>$10.000</td>
														</tr>
														<tr>
															<td>BS-400</td>
															<td>Desodorante</td>
															<td>3</td>
															<td>$15.000</td>
														</tr>
														<tr>
															<td>BS-1000</td>
															<td>Pañitos</td>
															<td>1</td>
															<td>$6.000</td>
														</tr>
														<tr class="txt-dark">
															<td></td>
															<td></td>
															<td>Subtotal</td>
															<td>$31.000</td>
														</tr>
														<tr class="txt-dark">
															<td></td>
															<td></td>
															<td>Envio</td>
															<td>$6.000</td>
														</tr>
														<tr class="txt-dark">
															<td></td>
															<td></td>
															<td>Total</td>
															<td>$37.000</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="button-list pull-right">
												<button type="submit" class="btn btn-success mr-10">
													Imprimir
												</button>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
					
				</div>
				
				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>2020 &copy; Copyright IDDOMINIO</p>
						</div>
					</div>
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Main Content -->
		@endsection